In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import string

In [3]:
alpha_range = string.ascii_uppercase

elements = []

for page in list(alpha_range):
    url = f"http://eoddata.com/stocklist/NASDAQ/{page}.htm"
    req = requests.get(url)
    soup = BeautifulSoup(req.content, "lxml")
    div = soup.find("div", {"id": "ctl00_cph1_divSymbols"})
    for tr in div.find_all("tr"):
        for td in tr.find_all("td"):
            element = td.text
            elements.append(element)

x = len(elements)
symbols = []
for symbol in range(0, x, 10):
    symbols.append(elements[symbol])

companies = []
for company in range(1, x, 10):
    companies.append(elements[company])

length = len(symbols) + 1
    
d_frame = pd.DataFrame({
    "Symbol": symbols,
    "Company": companies
}, index=range(1, length))

In [5]:
d_frame

     Symbol                      Company
1      AACG        Ata Creativity Global
2      AACQ  Artius Acquisition Inc Cl A
3     AACQU  Artius Acquisition Inc Unit
4     AACQW    Artius Acquisition Inc WT
5       AAL         American Airlines Gp
...     ...                          ...
3965   ZSAN                Zosano Pharma
3966   ZUMZ                   Zumiez Inc
3967    ZVO                    Zovio Inc
3968   ZYNE            Zynerba Pharma CS
3969   ZYXI                    Zynex Inc

[3969 rows x 2 columns]

In [57]:
d_frame.to_json("NASDAQ stock list")